/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*
/* Header Styles */
.header {
    background-color: #008080;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header-left {
    flex: 1;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.header-link:hover {
    background-color: #008080; 
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #008080;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #008080; 
}

/* Sidebar Styles */
.sidebar {
    background-color: #008080;
    font-size: 24px;
    width: 380px;
    height: 100%;
    position: fixed;
    top: 2;
    left: 0;
    overflow-y: auto;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav-item {
    padding: 10px;
}

.sidebar-nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-nav-link:hover {
    background-color: #008080;
}

.sidebar-nav-link .fa {
    margin-right: 10px;
}

.dropdown-toggle::after {
    content: '\25BE';
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #008080; 
    top: 0;
    left: 100%;
    z-index: 1;
}

.sidebar-nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #008080;
}
